Miniconda3-latest-Linux-x86_64.sh
.hypothesis/
.pytest_cache/
**/__pycache__/

# Jupyter notebooks (typically for debugging only)
*.ipynb
*.pt
*.pth
*.npz
*.npy
*.pdf
*.dot
# *.onnx
*.yaml
*.json
*.csv
*.txt
*.log
*.err
*.out
*.err.log
*.out.log